#foods{
  width: 400px;
  border: 2px solid;
  overflow: scroll;
}
.foodcard{
  border: 2px solid;
  margin: 10px;
  border-radius: 0 10px 0 10px;
  padding: 10px;
  background-color: rgb(139, 76, 198);
  color: aliceblue;
}